<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      
    <title>Customer Information</title>
 
  </head> 

    <body bgcolor="LightGoldenRodYellow">
        {% csrf_token %}
          
          <table class="table">
            <thread class="thread-dark">
              <tr>
               <th scope="col">Bin</th>
               <th scope="col">Organization Name</th>
               <th scope="col">Organization Type</th>
               <th scope="col">Email</th>
               <th scope="col">File</th>
               <th scope="col">Need Info</th>
               <th scope="col">Action</th>
              </tr>
            </thread>
            <tbody>

      
              {% for p in products %}
              <tr>
                <th scope="row">{{ p.bin }}</th>
                <td>{{ p.organizationname }}</td>
                <td>{{ p.organizationtype }}</td>
                <td>{{ p.email }}</td>
                {% if p.image %}
                  <td>
                    <img src="{{ p.image.url }}" height="10%" width="10%" alt="" class="prod-size">
                  </td>
                {% else %}
                  <td>
                    <img src="{{"/media/images/OIP.jpg"}}" height="10%" width="10%" alt="" class="prod-size">
                  </td>
                {% endif %}

                <td>{{ p.need_info }}</td>                
                  <td>
                  <a href="{% url 'UpdateCustomer' p.bin %}" class="btn btn-warning btn-sm">Edit</a>
                  <form action="{% url 'delete_datam' p.bin %}"
                   method="post" class="d-inline">{% csrf_token %}
                  <input type="submit" class="btn btn-danger" value="Delete">
                  </form>
                </td>
                
              </tr>

              {% endfor %}
            </tbody>
          </table>

    </body>
</html>